---
# file: roles/ansible_container/tasks/configure-ansible.yml

- name: Ensure directory /etc/ansible exists
  become: "{{ ansible_container_become }}"
  ansible.builtin.file:
    path: /etc/ansible
    state: directory
    owner: root
    group: root
    mode: "0o755"
  tags:
    - config

- name: Create Ansible configuration file
  become: "{{ ansible_container_become }}"
  ansible.builtin.template:
    force: "{{ ansible_container_force_config }}"
    src: ansible.cfg.j2
    dest: /etc/ansible/ansible.cfg
    owner: root
    group: root
    mode: "0o644"
    backup: "yes"
  tags:
    - config

- name: Create Ansible inventory file
  become: "{{ ansible_container_become }}"
  ansible.builtin.template:
    force: "{{ ansible_container_force_inventory }}"
    src: hosts.j2
    dest: /etc/ansible/hosts
    owner: root
    group: root
    mode: "0o644"
    backup: "yes"
  tags:
    - config
