---
# file: roles/ansible_container/tasks/main.yml

- name: "Gather os specific variables."
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}-{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      skip: true
  tags: vars

- name: "Include OS specific setup."
  ansible.builtin.include_tasks: "setup-{{ ansible_os_family }}.yml"
- name: "Include create-user.yml"
  ansible.builtin.include_tasks: "create-user.yml"
- name: "Include check-for-ansible.yml."
  ansible.builtin.include_tasks: "check-for-ansible.yml"

- name: "Install Ansible."
  when: not ansible_exists
  block:
    # Install Ansible
    - name: "Include install type specific installation instructions."
      ansible.builtin.include_tasks: "install-via-{{ ansible_container_install_type }}.yml"

    # Configuration tasks
    - name: "Include configure-ansible.yml."
      ansible.builtin.include_tasks: configure-ansible.yml
